
<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>
    </title>
    <style>
        body { font-family:'Times New Roman'; font-size:12pt }
        h1, h2, p { margin:0pt }
        table { margin-top:0pt; margin-bottom:0pt }
        h1 { margin-top:12pt; margin-bottom:3pt; page-break-inside:auto; page-break-after:avoid; line-height:normal; font-family:Cambria; font-size:16pt; font-weight:bold; color:#000000 }
        h2 { margin-top:12pt; margin-bottom:3pt; page-break-inside:auto; page-break-after:avoid; line-height:normal; font-family:Cambria; font-size:14pt; font-weight:bold; font-style:italic; color:#000000 }
        span.\31 { font-family:Cambria; font-size:16pt; font-weight:bold }
        span.\32 { font-family:Cambria; font-size:14pt; font-weight:bold; font-style:italic }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">

        </div>
        <div class="col-md-7">
            <table style="width:496.15pt; margin-left:5.4pt; border-collapse:collapse">
                <tr style="height:70.9pt">
                    <td colspan="2" style="width:178.9pt; padding-right:5.4pt; padding-left:5.4pt; vertical-align:top">
                        <h2>
                            &#xa0;
                        </h2>
                    </td>
                    <td rowspan="3" style="width:40.5pt; padding-right:5.4pt; padding-left:5.4pt; vertical-align:top">
                        <p style="text-align:justify; font-size:14pt">
                            &#xa0;
                        </p>
                    </td>
                    <td colspan="2" style="width:244.35pt; padding-right:5.4pt; padding-left:5.4pt; vertical-align:top">
                        <h1 style="font-size:15pt">
                            <span style="font-family:'Times New Roman'; font-weight:normal">УТВЕРЖДАЮ </span>
                        </h1>
                        <p style="font-size:14pt">
                            Директор управление командировками
                        </p>
                        <p style="font-size:14pt">
                            «Trip management system»
                        </p>
                    </td>
                </tr>
                <tr style="height:22.45pt">
                    <td style="width:86.75pt; padding-right:5.4pt; padding-left:5.4pt; vertical-align:top">
                        <p style="text-align:right; font-size:14pt">
                            &#xa0;
                        </p>
                    </td>
                    <td style="width:81.35pt; padding-right:5.4pt; padding-left:5.4pt; vertical-align:bottom">
                        <p style="text-align:right; font-size:14pt">
                            &#xa0;
                        </p>
                    </td>
                    <td style="width:123.85pt; border-bottom:0.75pt solid #000000; padding-right:5.4pt; padding-left:5.4pt; vertical-align:top">
                        <p style="text-align:right; font-size:14pt">
                            &#xa0;
                        </p>
                    </td>
                    <td style="width:109.7pt; padding-right:5.4pt; padding-left:5.4pt; vertical-align:top">
                        <p style="font-size:14pt">
                            &#xa0;
                        </p>
                        <p style="font-size:14pt">
                            И.В. Игнатович
                        </p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="width:178.9pt; padding-right:5.4pt; padding-left:5.4pt; vertical-align:top">
                        <p style="font-size:14pt">
                            &#xa0;
                        </p>
                    </td>
                    <td colspan="2" style="width:244.35pt; padding-right:5.4pt; padding-left:5.4pt; vertical-align:top">
                        <p style="font-size:3pt">
                            &#xa0;
                        </p>
                        <p style="font-size:14pt">
                            «___»__________20__&#xa0;&#xa0; г.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <p style="font-size:14pt">
                &#xa0;
            </p>
            <p style="text-align:center; font-size:14pt">
                ЗАДАНИЕ
            </p>
            <p style="text-align:center; font-size:14pt; margin-bottom: 15px;">
                на служебную командировку
            </p>
            <p style="text-align: left; font-size: 15pt; margin-left: 310px;">
                {{FIO}}
            </p>
            <p style="text-align: center; font-size: 14pt; margin-top: -15px;">
                _________________________________________________________________
            </p>
            <p style="text-align:center; font-size:10pt">
                <em>(фамилия, собственное имя, отчество)</em>
            </p>
            <p style="text-align: left; font-size: 15pt; margin-left: 310px;">
            </p>
            <p style="text-align:center; line-height:150%; font-size:14pt; margin-top: 0px;">
                __________________________________________________________________
            </p>
            <p style="text-align: left; font-size: 15pt; margin-left: 310px; margin-top: 0px;">
                {{POSITION}}
            </p>
            <p style="text-align:center; font-size:14pt; margin-top: 10px; margin-top: 0px;">
                __________________________________________________________________
            </p>
            <p style="text-align:center; font-size:10pt;">
                <em>должность</em>
            </p>
            <p style="font-size:14pt; text-align:left; margin-left: 305px;">
                командируемого в
            </p>
            <p style="text-align: left; font-size: 15pt; margin-left: 310px;">
                {{COUNTRY}}, {{CITY}}
            </p>
            <p style="font-size:14pt; text-align:center; margin-top: 0px;">
                __________________________________________________________________
            </p>
            <p style="text-align:center;">
                <em>(государство(а) и город(а) командирования,</em>
            </p>

            <p style="text-align:center; font-size:14pt">
                &#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0; <em><span style="font-size:10pt; "></span></em>
            </p>
            <p style="text-align: left; font-size: 15pt; margin-left: 310px; margin-top: -15px;">
                    {{COMPANY_NAME}}
            </p>
            <p style="text-align:center; font-size:14pt; margin-top: -15px;">
                __________________________________________________________________
            </p>
            <p style="text-align:center; font-size:10pt;">
                <em>наименование организации, в которую направляется командируемый)</em>
            </p>
            <p style="text-align: left; font-size: 15pt; margin-left: 310px;">
                {{COUNT_OF_DAY}}
            </p>
            <p style="text-align:center; font-size:14pt; margin-top: 10px;">
                __________________________________________________________________
            </p>
            <p style="text-align:center; font-size:10pt">
                <em>(продолжительность (срок) командировки)</em>
            </p>
            <p style="font-size:14pt; text-align:left; margin-left: 305px;">
                Источник финансирования:
            </p>
            <p style="text-align: left; font-size: 15pt; margin-left: 310px;">

            </p>
            <p style="text-align:center; font-size:14pt; margin-top: 0px;">
                __________________________________________________________________
            </p>
            <p style="font-size:14pt; text-align:left; margin-left: 305px;">
                Цель командировки:
            </p>
            <p style="text-align: left; font-size: 15pt; margin-left: 310px;">
                {{GOAL}}
            </p>
            <p style="font-size:14pt; text-align:center; margin-top: 0px;">
                __________________________________________________________________
            </p>
            <p style="text-align: left; font-size: 15pt; margin-left: 310px;">
            </p>
            <p style="font-size:14pt; text-align:center; margin-top: 0px;">
                __________________________________________________________________
            </p>
            <p style="text-align: left; font-size: 15pt; margin-left: 310px;">

            </p>
            <p style="font-size:14pt; text-align:center; margin-top: 0px;">
                __________________________________________________________________
            </p>
            <p style="font-size:14pt; text-align:left; margin-left: 305px;">
                {{TASK}}
            </p>
            <p style="text-align: left; font-size: 15pt; margin-left: 310px;">
                Всякие разные
            </p>
            <p style="text-align:center; font-size:14pt; margin-top: 0px;">
                __________________________________________________________________
            </p>
            <p style="text-align: left; font-size: 15pt; margin-left: 310px;">
                Потому что так надо
            </p>
            <p style="text-align:center; font-size:14pt; margin-top: 0px;">
                __________________________________________________________________
            </p>
            <p style="text-align:left; font-size:14pt; margin-top: 5px; margin-left: 310px;">
                Иные сведения:
            </p>
            <p style="text-align: left; font-size: 15pt; margin-left: 310px;">
                Нету
            </p>
            <p style="text-align:center; font-size:14pt; margin-top: 0px;">
                __________________________________________________________________
            </p>
            <p style="text-align:justify; font-size:14pt">
                &#xa0;
            </p>
            <p style="text-align:left; font-size:14pt; margin-left: 310px;">
                Приложение:<span style="color:#ffffff">_</span>
            </p>
            <div style="display: flex; margin-top: 15px;">
                <div>
                    <p style="text-align: left; font-size: 15pt; margin-left: 310px;">

                    </p>
                    <p style="text-align: left; font-size:14pt; margin-top: -15px; margin-left: 310px;">
                        ___________________________
                    </p>
                    <p style="text-align:left; font-size:10pt; margin-left: 310px;">
                        <em>(продолжительность (срок) командировки)</em>
                    </p>
                </div>
                <div>
                    <p style="text-align: left; font-size: 15pt; margin-left: 50px;">

                    </p>
                    <p style="text-align: left; font-size:14pt; margin-top: -15px; margin-left: 50px;">
                        ____________
                    </p>
                    <p style="text-align:left; font-size:10pt; margin-left: 50px;">
                        <em>(подпись)</em>
                    </p>
                </div>
                <div>
                    <p style="text-align: left; font-size: 15pt; margin-left: 50px;">

                    </p>
                    <p style="text-align: left; font-size:14pt; margin-top: -15px; margin-left: 50px;">
                        _________________
                    </p>
                    <p style="text-align:left; font-size:10pt; margin-left: 50px;">
                        <em>(инициалы, фамилия)</em>
                    </p>
                </div>
            </div>

            <p style="text-align:left; font-size:14pt; margin-top: 15px; margin-left: 310px;">
                _____________________________
            </p>
            <p style="text-align:left; font-size:10pt; margin-left: 310px;">
                <em>(Ф.И.О., подпись руководителя подразделения)</em>
            </p>

        </div>
        <div class="col-md-1"></div>
    </div>
</div>

<script defer src="https://static.cloudflareinsights.com/beacon.min.js/v84a3a4012de94ce1a686ba8c167c359c1696973893317" integrity="sha512-euoFGowhlaLqXsPWQ48qSkBSCFs3DPRyiwVu3FjR96cMPx+Fr+gpWRhIafcHwqwCqWS42RZhIudOvEI+Ckf6MA==" data-cf-beacon='{"rayId":"81fc7b6e5f4c66eb","r":1,"version":"2023.10.0","token":"4581d6a58cf94e929fad52deda295622"}' crossorigin="anonymous"></script>-->
</body>
</html>